@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
}


$primary-color: #3E704D;

@mixin  h2 {
  color: $primary-color;
  font-size: 1.8rem;
}

img{
  width: 100%;
}

.buttons a{
  color: #fff;
}

a.active,
a:hover{
  color: #FF6600;
}

@mixin containM {
  width: 90%;
  margin: auto;

}

.contain{
  @include containM();
}


.head{
  background: #fcf9f9;
  margin-bottom: 2rem;
}

p{
  line-height: 1.4rem;
}


a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}




/*-------Main Header----------*/

.mainheader{
  margin-bottom: 3rem;
  &-inner{
    background: url('../images/exploreBg.svg') ;
    background-size: cover;
    padding: 4rem  2rem 3.6rem 2rem;
    color: white;
    & h1{
      padding-bottom: 1rem;
    }
    & p{
      margin-bottom: 1rem;
    }
  }
  & div:nth-child(2){
    // background: url('../images/whitebg.svg');
    // background-size: contain, cover ;
    @include containM();
  }
  &-button{
    background: #FF6600;
    border-radius: 0px 0px 18px 0px;
    padding: .5rem 2rem;
    font-weight: 1rem;
    width: 40%;
    text-align: center;
  }
}

.buttons{
  background: #FF6600;
    border-radius: 0px 0px 18px 0px;
    padding: .5rem 1rem;
    font-weight: 1rem;
    width: 40%;
    text-align: center;
    color: #fff
}


/*-------About Us----------*/

.about{
  @include containM();
  padding: 2rem 0;
  &-bg{
    background: #F1F1F1;
  }
  & h2{
    color: $primary-color;
    &:nth-child(1){
      text-align: center;
      padding-bottom: 2rem;
    }
    &:nth-child(2){
      padding-bottom: 1rem;
    }
  }
  & p{
    padding-bottom: 1rem;
  }
  &-inner{
    div:nth-child(1){
      margin-bottom: 1rem;
    }
    
  } 
}

.line{
  background: linear-gradient(90deg, #12811D 0%, #FFAC12 94.96%);
  height: .15rem;
  width: 20%;
}

/*-------VisMif----------*/

.vis-mis{
  margin-top: 3rem;
  & h2{
    color: $primary-color;
    &:nth-child(1){
      padding-bottom: 2rem;
    }
  }
  & p{
    margin-bottom: 2rem;
  }
}


/*-------Core----------*/

.core{
  text-align: center;
  margin-top: 3rem;
  background: $primary-color;
  color: white;
  padding: 3rem 2rem;
  & .contain{
    & p:nth-child(1){
      color: #fff
    }
  }
  & h2{
    @include h2();
    padding-bottom: 1rem;
    color: white;
  }
  &-inner{
    padding-top: 3rem;
    & div{
      background: white;
      width: 50%;
      margin: auto;
      margin-bottom: 2rem;
      padding: 1rem 0;
      border-radius: .3rem;
    }
    & p{
      color: #000;
    }
  }
}



/*-------Buy----------*/


.one,
.two,
.three{
  display: none;
}

.buy{
  margin-top: 3rem;
  &-inner{
    padding-bottom: 3rem;
    &-one{
      display: flex;
      gap: 2rem;
      & img{
        width: 100%;
      }
      & h2{
        padding-bottom: 1rem;
        color: $primary-color;
      }
      & p{
        padding-top: 1rem;
      }
    }
  }
}



.imageOne{
  width: 120%;
}

.imageTwo{
  width: 130%;
}

.imageThree{
  width: 180%;
}


.buy-now{
  display: flex;
  justify-content: space-between;
  align-items: center;
  & div:nth-child(2){
    background: $primary-color;
    border-radius: 0px 0px 18px 0px;
    padding: .5rem 1rem;
    font-weight: 1rem;
    width: 40%;
    text-align: center;
  }
  &Bg{
    background: rgba(18, 129, 29, 0.1);
    padding: 2rem 0;
  }
}

.contain.buy-now{
  background: none;
  & div:nth-child(1){
    // background: none;
    font-weight: 700;
  }
  & div:nth-child(2){
    color: white;
  }
  & span{
    color: $primary-color;
  }
  
}


/*-------Invest----------*/

.invest{
  margin-top: 3rem;
  & img{
    padding-bottom: 1rem;
  }
  & h2{
    color: $primary-color;
    padding-bottom: 1rem;
  }
  & p{
    padding-bottom: 1rem;
  }
}

.h2{
  color: #FF6600;
}


/*-------Choose----------*/


.choose-us{
  margin-top: 3rem;
  & h2{
    text-align: center;
    color: $primary-color;
    padding-bottom: 2rem;
  }
  &-inner{
    & > *{
      padding-bottom: 3rem;
    }
  }
  & h3{
    color: $primary-color;
    padding-bottom: 1rem;
  }
}

/*-------Address----------*/

.address{
  margin-top: 5rem;
  background: $primary-color;
  padding-top: 4rem;
  padding-bottom: 4rem;
  & span{
    display: block;
    color: $primary-color;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  &-inner{
    background: #fff;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 1rem;
    margin-bottom: 2rem;
    & div{
      margin-bottom: 2rem;
    }
  }

  & iframe{
    width: 100%;
    border: none;
  }

  &-x{
    margin-top: 4rem;
  }
}

.iframe{
  margin-bottom: 2rem;
}


  /*-------Form----------*/

  .form form{
    background: #ffffff;
    padding: 1.5rem 2rem;
    border-radius: 20px;
  }
  .form{
    
    background: none;
    & div{
      background: none;
      padding-bottom: 1.2rem;
    }
    & input,
    & textarea{
      width: 100%;
      background: #F5F5F5;
      padding: .7rem 1.2rem;
      border: none;
      outline: none;
    }

    & input{
      border-radius: 39px;
    
    }
    & textarea{
      height: 180px;
    }

    & button{
      border-radius: 39px;
      border: none;
      background: $primary-color;
      color: #fff;
      padding: 1rem;
    }

  }

  .construct{
    border: 1px rgb(214, 213, 213) solid;
    border-radius: .5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }


  /*-------Footer----------*/

 
  .foot{
    padding-top: 3rem;
  }

  .footer{
    background: #000;
    &-inner{
      & span{
        color: $primary-color;
      }
      & .buttons{
        margin-top: 1rem;
      }
      &-z{
        & div{
          padding-bottom: 2rem;
          & p:nth-child(1){
            color: white;
          }
          & a:nth-child(n + 1){
            color: #979797;
          }
        }
        & p{
          padding-bottom: 1rem;
        }
      }
    }
    &-inner{
      & h2{
        color: #fff;
      }
    }
  }

  .social{
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
  }


/*-------Housing----------*/

.x{
  &-one{
    padding-bottom: 2rem;
    & h2{
      padding-bottom: 1rem;
    }
    & .buttons{
      margin-top: 2rem;
    }
    & span{
      color: $primary-color;
    }
    
  }
  &-y{
    padding-bottom: 2rem;
    &-inner{
      padding-top: 2rem;
    }
  }
  &-z{
    padding-bottom: 2rem;
  }
}

/*-------Buy Now Form----------*/

.buyNowForm{
  margin-bottom: 3rem;
  & input,
  & select,
  & textarea{
    width: 100%;
  }
  & form{
    background: rgba(18, 129, 29, 0.15);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);  
    padding: 3rem 2rem;
    & input{
      margin-bottom: 2rem;
      outline: none;
      border: none;
      padding: .5rem .7rem;
    }
    & .check{
      width: 5%;
    }
    & textarea,
    & select{
      margin-bottom: 2rem;
      padding: .5rem .7rem;
      outline: none;
      border: none;
    }
    & button{
      background: $primary-color;
      color: #fff;
      padding: .5rem 2rem;
      outline: none;
      border: none;
      margin-top: 2rem;
    }
    & .but{
      text-align: center;
    }
    & input span{
      line-height: 0 !important;
    }
    
  }
  & h4{
    background: $primary-color;
    color: #fff;
    margin-bottom: 0;
    padding: 1rem;
  }
  
}
  


@media (min-width: 768px) and (max-width: 1023px){
  .mainheader{
    &-inner{
      padding:  8rem 8rem 5rem 3rem;
    }
    & h1{
      font-size: 2rem;
    }
    &-button{
      width: 20%;
    }
  }

  p,div{
    font-size: 1.1rem;
  }

  h3{
    font-size: 1rem;
  }


  .imageOne{
    width: 30%;
  }
  
  .imageTwo{
    width: 30%;
  }
  
  .imageThree{
    width: 30%;
  }

  .buttons{
    width: 20%;
  }

  .buy-now div:nth-child(2){
    width: 20%;
  }

  .construct{
    width: 60%;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
}


@media  (min-width: 1024px){

  h2{
    font-size: 2rem;
  }

  p{
    line-height: 2rem;
  }

  .mainheader{
    display: flex;

    & > *{
      width: 80%;
      margin-right: 3rem;
    }
    &-inner{
      padding-left: 4rem;
    }

    & h1{
      font-size: 2.5rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    & p{
      font-size: 1.2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
    }
    &-button{
      width: 30%;
      font-size: 1rem;
    }
  }

  .about{
    &-inner{
      display: flex;
      gap: 2rem;

      & > *{
        width: 50%;
      }
      & p{
        font-size: 1.1rem;
      }
    }
  }

  .vis-mis{
    display: flex;
    margin-top: 6rem;
    & > * {
      width: 50%;
    }
    & p{
      font-size: 1.1rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    &-inner{
      border-right: 1px solid #999999;
      padding-right: 8rem;
      &_{
        padding-left: 8rem;
      }
    }
  }

  .core{
    & p{
      font-size: 1.1rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    &-inner{
      display: flex;
      gap: 3rem;
    }
  }


  .one,
  .two,
  .three{
    display: block;
  }

  .imageOne,
  .imageThree,
  .imageTwo{
    width: 20%;
  }

  .buy{
    &-inner{
      display: flex;
      gap: 5rem;
    }
    & p{
      font-size: 1.1rem;
    }
  }

  
  .buy-now{
    width: 70%;
    div{
      font-size: 1.5rem;
    }
    & div:nth-child(2){
      width: 20%;
      font-size: 1.1rem;
    }
  }


  /*-------Invest----------*/


  .invest-inner{
    display: flex;
    gap: 3rem;
    font-size: 1.1rem;
    & >*{
      width: 50%;
    }
    & h2{
      text-align: center;
    }
    & .buttons{
      margin-top: 2rem;
      width: 30%;
    }
  }


  /*-------Chooose US----------*/

  .choose-us{
    &-inner{
      display: grid;
      grid-template-columns: auto auto;
      gap: 7rem;
      & > *{
        padding-bottom: 0;
        text-align: center;
      }
    }
    & p{
      font-size: 1.1rem;
    }
    &-last{
      text-align: center;
      margin: auto;
      width: 50%;
    }
  }

  /*-------Address----------*/

  .address{
    &-inner{
      display: flex;
      gap: 4rem;
      & > *{
        width: 30%;
      }
      & div{
        margin-bottom: 0;
      }
    }
    &-x{
      display: flex;
      gap: 3rem;
      & > *{
        width: 50%;
      }
    }
  }

  form{
    padding: 5rem 4rem;
    & input,
    & textarea{
      font-size: 1.1rem;
    }
    
  }

  /*-------Footer----------*/

  .footer{
    
    &-inner{
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: auto;
      &-x{
        display: flex;
        justify-content: space-between;
        padding-top: 5rem;
        width: 80%;
        margin: auto;
      }
      &-z{
        display: flex;
        gap: 5rem;
      }
    }
    .buttons{
      width: 20%;
      font-size: 1.1rem;
    }
  }


  .x-one{
    display: flex;
    gap: 2rem;
    & > *{
      width: 50%;
    }
  }


  .buyNowForm{
    width: 45%;
    margin: auto;
    margin-bottom: 4rem;
  }

  .construct{
    width: 45%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

 


  
}